<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
  <div class="container">
    <!-- <input type="checkbox" id="check"> -->
    <div class="login form">
      <header>Login</header>      <form action="#">
        <input type="text" placeholder="Enter your email">
        <input type="password" placeholder="Enter your password">
        <a href="#">Forgot password?</a>
        <input type="button" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="/register">register</a>
        </span>
      </div>
    </div>
</body>
</html>